@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto+Condensed&display=swap");
html {
  box-sizing: border-box;
}
*{
    padding: 0;
    margin: 0;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
* {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: black;
}
/*-----header-----*/
.header {
  text-align: center;
}
.header__logo {
  padding: 88px 0px 60px;
}
.menu {
  border-top: 2px solid #c4c4c4;
}

.menu__list {
  display: flex;
  justify-content: center;
}
.menu__list-item {
  width: 300px;
}
.menu__list-link {
  font-family: "Roboto Condensed";
  font-size: 24px;
  line-height: 28px;
  color: #888888;
  padding: 34px 10px 38px;
  display: block;
  border-right: 1px solid #c4c4c4;
  border-left: 1px solid #c4c4c4;
  transition: all.3s;
}
.menu__list-link--active,
.menu__list-link:hover{
    color: white;
    background-color: rgb(194, 18, 18);
}
.menu__list-item:first-child{
    border-left: 1px solid #c4c4c4;
}
.menu__list-item:last-child{
    border-right: 1px solid #c4c4c4;
}
/*-----slider-----*/

.slider__item{
  background-image: url(images/Rectangle\ 6.jpg);
  min-height: 600px;
}